.EndScreenLayout {
  --base-size: 2.5cqw;
  --animation-duration: 1.5s;
  display: grid;
  font-size: var(--base-size);
  grid-template-columns: calc(var(--base-size) * 2) 1fr auto 1fr calc(
      var(--base-size) * 2
    );
  grid-template-rows: 1fr auto auto calc(var(--base-size) * 1.5);
  grid-template-areas:
    'empty empty empty empty empty'
    'emptyLeft venue venue venue emptyRigth'
    'leftPadding homeTeam score awayTeam rightPadding'
    'bottom bottom bottom bottom bottom';
}

.EndScreenLayout_active {
  animation: layout_active var(--animation-duration) forwards;
}

.EndScreenLayout_hidden {
  animation: layout_hidden var(--animation-duration) forwards;
}

.EndScreenLayout_homeTeam {
  grid-area: homeTeam;
}

.EndScreenLayout_score {
  grid-area: score;
  font-size: calc(var(--base-size) * 1.5);
  padding: calc(var(--base-size) * 0.375) calc(var(--base-size) * 0.75);
}

.EndScreenLayout_awayTeam {
  grid-area: awayTeam;
}

.EndScreenLayout_homeTeam_inner,
.EndScreenLayout_awayTeam_inner {
  padding: calc(var(--base-size) * 0.125) calc(var(--base-size) * 0.75);
}

.EndScreenLayout_homeTeam_inner_active {
  animation: homeTeam_active var(--animation-duration) forwards;
}

.EndScreenLayout_awayTeam_inner_active {
  animation: awayTeam_active var(--animation-duration) forwards;
}

.EndScreenLayout_homeTeam_inner_hidden {
  animation: homeTeam_hidden var(--animation-duration) forwards;
}

.EndScreenLayout_awayTeam_inner_hidden {
  animation: awayTeam_hidden var(--animation-duration) forwards;
}

.EndScreenLayout_penalties {
  font-size: calc(var(--base-size) * 1.125);
  margin-bottom: calc(var(--base-size) * 0.25);
}

.EndScreenLayout_penalties_title {
  font-size: calc(var(--base-size) * 0.5);
  padding: calc(var(--base-size) * 0.0625) calc(var(--base-size) * 0.125);
  margin: calc(var(--base-size) * 0.125) 0 calc(var(--base-size) * 0.25);
}

.EndScreenLayout_teamColour {
  height: calc(var(--base-size) * 0.25);
  margin: calc(var(--base-size) * 0.125) 0 calc(var(--base-size) * 0.25) 0;
}

.EndScreenLayout_venue {
  grid-area: venue;
  padding-bottom: calc(var(--base-size) * 0.5625);
}

.EndScreenLayout_venue_inner {
  font-size: calc(var(--base-size) * 0.84375);
  padding: calc(var(--base-size) * 0.1875) calc(var(--base-size) * 0.84375);
}
.EndScreenLayout_venue_inner_active {
  animation: venue_active var(--animation-duration) forwards;
}
.EndScreenLayout_venue_inner_hidden {
  animation: venue_hidden var(--animation-duration) forwards;
}

@keyframes layout_active {
  0% {
    transform: translateY(50%) translateZ(0);
  }
  40%,
  100% {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes layout_hidden {
  0%,
  60% {
    transform: translateY(0) translateZ(0);
  }
  100% {
    transform: translateY(50%) translateZ(0);
  }
}

@keyframes homeTeam_active {
  0%,
  40% {
    transform: translateX(100%) translateZ(0);
  }
  100% {
    transform: translateX(0) translateZ(0);
  }
}

@keyframes awayTeam_active {
  0%,
  40% {
    transform: translateX(-100%) translateZ(0);
  }
  100% {
    transform: translateX(0) translateZ(0);
  }
}

@keyframes homeTeam_hidden {
  0% {
    transform: translateX(0) translateZ(0);
  }
  50%,
  100% {
    transform: translateX(100%) translateZ(0);
  }
}

@keyframes awayTeam_hidden {
  0% {
    transform: translateX(0) translateZ(0);
  }
  50%,
  100% {
    transform: translateX(-100%) translateZ(0);
  }
}

@keyframes venue_active {
  0%,
  79% {
    transform: translateY(150%) translateZ(0);
    display: none;
  }
  80% {
    transform: translateY(150%) translateZ(0);
    display: block;
  }
  100% {
    transform: translateY(0) translateZ(0);
    display: block;
  }
}

@keyframes venue_hidden {
  0% {
    transform: translateX(0) translateZ(0);
    display: block;
  }
  20% {
    transform: translateY(175%) translateZ(0);
    display: block;
  }
  21%,
  100% {
    transform: translateY(175%) translateZ(0);
    display: none;
  }
}
